digraph G {
    rankdir=LR;
    splines=spline;

{% for node in nodes %}
    {{node.id}} [label={{node.label}}]
{%- endfor %}

{% for node in nodes -%}
{% for adj in node.neighbors %}{% set neighbor=node.neighbors[adj] %}
{%- set norm=neighbor['norm'] *100 %}
    {{node.id}} -> {{adj}} [label="{{neighbor['capacity']}}/{{norm|int}}%"]
{%- endfor %}
{%- endfor %}

{% for e in flow %}
    {{nodes[e[0]].id}} -> {{nodes[e[1]].id}} [label="{{e[2]}}", color="red", style=dotted]
{%- endfor %}

}